html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-container {
  height: 100%;
}

.leaflet-popup-content .put{
  position: absolute;
  top: -27px;
  left: -15px;
  width: 53px;
  height: 52px;
  background-repeat: no-repeat;
}


.leaflet-popup-content p {
  #margin-bottom: 0;
  font-size: 13px;
  text-align: center;
}

.leaflet-popup-content {background: #23344c; color: #fff; border-color: #fff; border-radius:12px; margin: 6px;padding: 10px 10px 15px;}
.leaflet-popup-content-wrapper {border-radius: 12px; background: #141d2b; color: #fff;}
.leaflet-popup-content a {color: #bada55;text-decoration:none}
.leaflet-popup-content h3 {font-size:18px;text-align: center;}
.leaflet-popup-content a:hover {color: #d8fc62;}
.leaflet-popup-tip {background: #000;}
#.leaflet-popup-tip {border-top: 12px solid #141d2b;box-shadow: 0 3px 14px rgba(0,0,0,0.4);background: red;}